.blogheader h1{
    text-align: center;
    margin-top: 5%;
}

.blogcategories{
    width: 20%;
    float: left;
    padding-right: 2px;
}

.blogcategories h2{
    font-size: 2.5vw;
    margin-bottom: 10px;
    text-align: center;
}

.blogcategories li{
    display: flex;
}

.blogcategories a{
    text-decoration: none;
    outline: none;
    background-color: var(--clr-wit);
    color: #4b9600;
    letter-spacing: 2px;
    font-family: 'Lora', serif;
    font-weight: bold;
    text-transform: uppercase;
    width: 90%;
    text-align: center;
    border-bottom: 0.2vw solid #1b701b;
    margin-left: auto;
    margin-right: auto;
}

.blogcategories a:hover{
    background-color: #1b701b;
    border-color: #1b701b;
    color: var(--clr-wit);
    cursor: pointer;
}

.blogheader button, .comment-upload button, .comment-upload a, .user-delete-blogpost-btn, .user-edit-blogpost-btn{
    border: 1vw solid #1B701B;
    background-color: #1B701B;
    border-radius: 10px;
    text-decoration: none;
    padding: 8px;
    color: white;
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 1rem;
    outline: none;
}

.blogheader button:hover, .comment-upload button:hover, .comment-upload a:hover{
    border-color: #208820;
    background-color: #208820;
    cursor: pointer;
}

.blogheader{
    text-align: center;
}

.blogheader form{
    display: inline-block;
    margin-top: 2%;
}

.blogcontainer{
    margin-top: 2%;
}

.grid-3-col{
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;

    width: 80%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    float: right;
}

.blogDescription{
    padding-bottom: 3%;
    background-color: var(--clr-wit);
    text-align: center;
}

.blogDescription h2{
    margin-top: 10px;
    word-wrap: break-word;
    text-align: center;
}

.blogDescription p{
    display: block;
    margin-top: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.blogDescription h3{
    display: inline-block;
    margin-top: 10px;
}

.blogDescription h4{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.alignleft{
    float: left;
    padding-left: 1rem;
}

.alignright{
    float: right;
    padding-right: 1rem;
    background-color: var(--clr-groen);
    color: var(--clr-wit);
}

.blogImage{
    overflow: hidden;
}

.blogImage img{
    object-fit: cover;
    height: 40vh;
    width: 100%;
    object-position: center;
    transform: scale(1);
    transition: 0.3s ease-in-out;
}

.blogImage img:hover{
    transform: scale(1.2);
}

/* One advertisement */
.blogpost {
    position: relative;
    border-bottom: 0.25vw solid var(--clr-groen);
    width: 40vh;
    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3)
}

.blogpost:hover{
    transition: transform .2s ease-in;
    transform: translateY(-20px);
    cursor: pointer;
}

@media screen and (min-width:1100px){
    .blogheader h1{
        font-size: 3vw;
    }
    
    .blogDescription h4{
        font-size: 0.80vw;
    }

    .blogDescription h3, .blogDescription p{
        font-size: 1vw;
    }

    .blogDescription h2{
        font-size: 16px;
    }

    .blogcategories a{
        font-size: 1.5vw;
    }

    .category-select{
        display: none;
    }

    .comment-upload textarea{
        width: 69%;
    }

    .comment-upload button{
        width: 30%;
        margin-left: 1%;
    }
}

@media screen and (max-width:1100px){
    .blogheader h1{
        font-size: 6vw;
        margin-bottom: 5%;
    }

    .blogDescription h4{
        font-size: 1.60vw;
    }

    .blogDescription h3, .blogDescription p{
        font-size: 2vw;
    }

    .blogDescription h2{
        font-size: 4vw;
    }

    .grid-3-col{
        margin-top: 2%;
        width: 100%;
    }

    .blogcategories{
        display: none;
    }

    .blogheader button{
        margin-bottom: 5%;
    }

    /* dropdown select menu for categories */
    .category-select select{
        background: #4b9600;
        color: #fff;
        padding: 10px;
        width: 70%;
        height: 100%;
        border: none;
        font-size: 1rem;
        font-family: 'Lora', serif;
        font-weight: bold;
        outline: none;
        border-radius: 1vw;
    }

    .comment-upload button, .comment-upload textarea{
        margin-top: 1%;
        width: 100%;
    }

    #userDeleteBlogpostPopUp h1{
        font-size: 1.5rem;
    }
}

/* Comment section for blogpost */
.comment-section{
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.comment-bubble{
    border: 3px solid #1B701B;
    border-radius: 10px;
    margin-bottom: 2%;
    max-width: 75%;          
    min-width: 60%;
    float: left;             /*DEPENDING ON WHICH USER*/
}

.comment-bubble h1, .comment-bubble h2, .comment-bubble p{
    font-size: 1rem;
    margin: 1%;
}

.comment-bubble h1{
    float: left;
}

.comment-bubble h2{
    font-style: italic;
    float: right;
}

.comment-bubble p{
    text-align: left;
}

.comment-upload textarea{
    border: 2px solid #1B701B;
    border-radius: 0.5vw;
    resize: none;
    float: left;
    font-size: 16px;
    outline: none;
}

.comment-upload button{
    border: 0.5vw solid #1B701B;
    float: right;
}

.comment-upload a{
    width: 100%;
    float: left;
}

/* user page redirection */
.userPageRedirection{
    text-decoration: none;
    color: var(--clr-dark-green);
}

.userPageRedirection:hover{
    border-bottom: 1px solid var(--clr-dark-green);
}

/* Blogpost page edit and delete button */

.userFunctions-btn{
    /* float: right to push bloginfo down */
    float: right; 
    width: 100%;
    margin-right: 10%;
}

.user-delete-blogpost-btn, .user-edit-blogpost-btn{
    float: right;
    border: 10px solid rgb(190, 6, 6);
    background-color: rgb(190, 6, 6);
    padding: 0;
    margin-bottom: 1%;
    margin-left: 5px;
}

.user-edit-blogpost-btn{
    border-color: rgb(62, 117, 199);
    background-color: rgb(62, 117, 199);
}

.user-edit-blogpost-btn:hover{
    border-color:  rgb(47, 87, 148);
    background-color: rgb(47, 87, 148);
    cursor: pointer;
}

.user-edit-blogpost-btn a{
    color: white;
    text-decoration: none;
}

.user-delete-blogpost-btn:hover{
    border-color: rgb(145, 6, 6);
    background-color: rgb(145, 6, 6);
    cursor: pointer;
}

#userDeleteBlogpostPopUp, #ratingForm{
    display: none;
}

/* bloginfo layout */

.blogInfo{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    border-bottom: 3px solid var(--clr-dark-green);
}

.blogInfo h2{
    font-size: var(--fs-h3);
    color: gray;
}

.blogInfo h3{
    font-size: var(--fs-h2);
}

.blogInfo h2, .blogInfo h3{
    text-align: center;
    margin: 2%;
}

.blogInfoDesc, .blogInfoBlogger{
    text-align: justify;
    color: grey;
    font-weight: bold;
}

.blogInfoBlogger{
    font-style: italic;
}

.blogInfoLink{
    color: grey;
    font-weight: bold;
    text-decoration: none;
    word-break: break-all;
}

.blogInfoLink:hover{
    color: var(--clr-dark-green);
    border-bottom: 1px solid var(--clr-dark-green);
}
/* bloginfo image slider */

/* Slideshow container */
.slideshow-container {
    position: relative;
    margin: auto;
  }

.slideshow-container img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }