.onsdoel, .plantjes, .blog {
    text-align: justify;
}
h1 {
    margin: 50px auto 0 auto;
    font-family: 'Montserrat', serif;
    font-size: var(--fs-h1);
}
p {
    font-family: "Gill Sans", sans-serif;
    margin: 30px auto;
    padding: 0 22%;
    font-size: 1.2rem;
}
.wallpaper img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    margin-bottom: 100px;
}
ul {
    margin: 16px 0px;
    padding: 0px 0px 0px 40px;
}

@media screen and (max-width:1100px){
    p{
        padding: 0 13%;
    }
}