/* Body */

html {
    scroll-behavior: smooth;
}

/* Grey background of login form */
.loginbox{
	width: 350px;
	height: 450px;
	background-color: rgb(240, 240, 240);
	box-sizing: border-box;
	border-radius: 5px;
	position: relative;
	margin: 6% auto;
}

/* Login form header */
.loginbox h1{
	margin: 0;
	padding: 40px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.loginbox h4 {
	padding: 10%;
	font-weight: bold;
}

/* Login form paragraph */
.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-indent: 2.95em;
}

/* Field input */
.loginbox input{
	width: 1000;
	margin-bottom: 20px;
}

/* Field boxes */
.loginbox input[type="password"], input[type="text"]{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	width: 260px;
	color: #000;
	font-size: 16px;
}

/* Login button */
.loginbox button{
	border: none;
	outline: none;
	width: 260px;
	height: 35px;
	background: #66CC00;
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
}

/* Button effect */
.loginbox button:hover
{
	cursor: pointer;
	background: #228B22;
}

/* Register */
.loginbox a{
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: #000;
}

/* Register text effect */
.loginbox a:hover
{
	cursor: pointer;
	color: #228B22;
}

.footer {
    height: 100px;
   	background-color: var(--clr-groen);
 	color: var(--clr-wit);
	position: fixed;
	bottom: 0;
  	width: 100%;
}