.adform {
    margin: 5% 20%;
    background-color: rgba(49, 122, 18, 0.16);
    padding: 2% 10%;
    border-radius: 20px;
    line-height: 2;
    font-size: large;
    font-family: 'Montserrat', serif;
    font-weight: bold;
}
.adform form {
    margin-left: 20%;
}
.adform h2 {
    text-align: center;
}
.adform input[type="text"] {
     padding: 12px 20px;
     border: 2px solid white;
     border-radius: 4px;
 }

textarea {
    padding: 12px 20px;
    border: 2px solid white;
    border-radius: 4px;
    resize: none;
}

.notloggedin {
    margin: 5% 20%;
    background-color: rgba(49, 122, 18, 0.16);
    padding: 2% 10%;
    border-radius: 20px;
    line-height: 2;
    font-size: large;
    font-family: 'Montserrat', serif;
    font-weight: bold;
}

.notloggedin a {
    color: rgba(49, 149, 15, 0.67);
}

.notloggedin a:hover {
    color: rgba(49, 149, 15, 0.28);
}

.newAdButtons {
    background-color: transparent;
    border-radius:12px;
    border:2px solid #4A7C00;
    display:inline-block;
    cursor:pointer;
    color: #4A7C00;
    font-family: 'Montserrat', serif;
    font-size:17px;
    font-weight:bold;
    padding:10px 20px;
    text-decoration:none;
}
.newAdButtons:hover {
    background-color: rgba(49, 149, 15, 0.66);
    border:2px solid white;
    color: white;
}
.newAdButtons:active {
    position:relative;
    top:1px;
}

/* HIDE RADIO */
input[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
input[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
input[type=radio]:checked + img {
    outline: 2px solid #31950f;
}
