/* Body */

html {
    scroll-behavior: smooth;
}

/* Grey background of login form */
.registerbox{
	width: 700px;
	height: 700px;
	background-color: rgb(240, 240, 240);
	box-sizing: border-box;
	border-radius: 5px;
	margin: 3% auto;
	text-align:center;
}

.registerpart1{
	display: inline-block;
	padding-right: 50px;
	border-right: 2px solid #4A7C00;
}

.registerpart2{
	display: inline-block;
	padding-left: 50px;
}

@media screen and (max-width: 768px){
	.registerbox{
		width: 350px;
		height: 1150px;
	}
	.registerpart1{
		display: block;
		padding-right: 0px;
		border-right: none;
	}
	
	.registerpart2{
		display: block;
		padding-left: 0px;
	}

	.registerbox p{
		text-indent: 2.95em;
	}
}

/* Login form header */
.registerbox h1{
	margin: 0px;
	padding: 50px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

/* Login form paragraph */
.registerbox p{
	text-align: left;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

/* Field input */
.registerbox input{
	width: 1000px;
	margin-bottom: 20px;
}

/* Field boxes */
.registerbox input[type="password"], input[type="text"], input[type="number"]{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	width: 260px;
	color: #000;
	font-size: 16px;
}

/* Login button */
.registerbox button{
	border: none;
	outline: none;
	width: 260px;
	height: 35px;
	background: #66CC00;
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
	margin-top: 20px;
}

/* Button effect */
.registerbox button:hover
{
	cursor: pointer;
	background: #228B22;
}

/* Register */
.registerbox a{
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: #000;
}

/* Register text effect */
.registerbox a:hover
{
	cursor: pointer;
	color: #228B22;
}

/* Thank you page after registering */
.thankyou{
	text-align: center;
	margin: 8% auto;
}

.thankyou h1{
	font-size: 30px;
}

.thankyou img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 40%;
}

.verified{
	text-align: center;
	margin: 8% auto;
}

.oops{
	display: inline-block;
	text-align: center;
}

.oops h1{
	font-size: 30px;
	float: right;
}

.oops img{
	width: 35px;
	float: left;
}

.registererror{
	width: 350px;
	border: 3px solid #4A7C00;
	border-radius: 10px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.registererror p{
	text-align: center;
	font-weight: bold;
}

.verified img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 40%;
}