/* Body */

html {
    scroll-behavior: smooth;
}

/* Grey background of login form */
.registerbox{
	width: 350px;
	height: 550px;
	background-color: rgb(240, 240, 240);
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%,-50%);
	box-sizing: border-box;
	border-radius: 5px;
}

/* Login form header */
.registerbox h1{
	margin: 0;
	padding: 40px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	transition: transform 3s ease-in;
}

/* Login form paragraph */
.registerbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-indent: 2.95em;
}

/* Field input */
.registerbox input{
	width: 1000;
	margin-bottom: 20px;
}

/* Field boxes */
.registerbox input[type="password"], input[type="text"]{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	width: 260px;
	color: #000;
	font-size: 16px;
}

/* Login button */
.registerbox button{
	border: none;
	outline: none;
	width: 260px;
	height: 35px;
	background: #66CC00;
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
}

/* Button effect */
.registerbox button:hover
{
	cursor: pointer;
	background: #228B22;
}

/* Register */
.registerbox a{
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: #000;
}

/* Register text effect */
.registerbox a:hover
{
	cursor: pointer;
	color: #228B22;
}

.footer {
    	height: 100px;
   	background-color: var(--clr-groen);
 	color: var(--clr-wit);
	position: absolute;
  	bottom: 0;
  	width: 100%;
}