/* Body */

html {
    scroll-behavior: smooth;
}

/* Grey background of login form */
.registerbox{
	width: 350px;
	height: 600px;
	background-color: rgb(240, 240, 240);
	box-sizing: border-box;
	border-radius: 5px;
	position: relative;
	margin: 3% auto;
}

/* Login form header */
.registerbox h1{
	margin: 0;
	padding: 50px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

/* Login form paragraph */
.registerbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
	text-indent: 2.95em;
}

/* Field input */
.registerbox input{
	width: 1000;
	margin-bottom: 20px;
}

/* Field boxes */
.registerbox input[type="password"], input[type="text"]{
	border: none;
	border-bottom: 1px solid #000;
	background: transparent;
	outline: none;
	height: 40px;
	width: 260px;
	color: #000;
	font-size: 16px;
}

/* Login button */
.registerbox button{
	border: none;
	outline: none;
	width: 260px;
	height: 35px;
	background: #66CC00;
	color: #fff;
	font-size: 18px;
	border-radius: 10px;
}

/* Button effect */
.registerbox button:hover
{
	cursor: pointer;
	background: #228B22;
}

/* Register */
.registerbox a{
	text-decoration: none;
	font-size: 15px;
	line-height: 20px;
	color: #000;
}

/* Register text effect */
.registerbox a:hover
{
	cursor: pointer;
	color: #228B22;
}

/* Thank you page after registering */
.thankyou{
	text-align: center;
	margin: 8% auto;
}

.thankyou h1{
	font-size: 30px;
}

.thankyou img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 40%;
}

.verified{
	text-align: center;
	margin: 8% auto;
}

.oops{
	display: inline-block;
	text-align: center;
}

.oops h1{
	font-size: 30px;
	float: right;
}

.oops img{
	width: 35px;
	-webkit-transition: -webkit-transform 2s;
	float: left;
}

.oops img:hover{
    -webkit-transform: rotate(360deg);
}

.registererror{
	width: 350px;
	border: 3px solid #4A7C00;
	border-radius: 10px;
	display: block;
    margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.registererror p{
	text-align: center;
	font-weight: bold;
}

.verified img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 40%;
}

.footer {
    height: 100px;
   	background-color: var(--clr-groen);
 	color: var(--clr-wit);
	position: fixed;
  	bottom: 0;
  	width: 100%;
}