*,

*::before,

*::after {

    box-sizing: border-box;

}





/* Paar standaard waardes die je later makkelijk weer opnieuw kunt gebruiken */

:root {

    --clr-groen: #4A7C00;

    --clr-dark-green:  #1B701B;

    --clr-wit: #FFFFFF;

    --clr-black: #000000;



    --fw-reg: 300;

    --fw-bold: 900;



    --fs-h1: 3rem;

    --fs-h2: 2.25rem;

    --fs-h3: 1.25rem;

    --fs-body: 1rem;



    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),

          0.125em 0.125em 0.25em rgba(0,0,0,.15);

}





html {

    scroll-behavior: smooth;

}



body {

    height: 100%;

    background: var(--clr-wit);

    color: var(--clr-groen);

    margin: 0;

    font-family: 'Montserrat', serif;

    font-weight: 300;

    /*text-transform: uppercase;*/

    font-size: var(--fs-body);

    line-height: 1.6;

    overflow-x: hidden;

}



img {

    display: block;

    max-width: 100%;

}



/* Koppen */



h1,

h2,

h3 {

    line-height: 1.1;

    margin: 0;

}



h1 {

    font-size: var(--fs-h1);

}

h2 {

    font-size: var(--fs-h2);

}

h3 {

    font-size: var(--fs-h3);

}





/* Header / Menu */



nav {

    display: flex;

    justify-content: space-around;

    align-items: center;

    min-height: 8vh;

    background-color: var(--clr-wit);

    transition: transform 0.3s ease, opacity 0.1s ease 0.1s;

}



.nav-links{

    display: flex;

    justify-content: space-around;

    width: 55%;

}



.nav-links li{

    list-style: none;

}



.nav-links a{

    color: var(--clr-groen);

    text-decoration: none;

    letter-spacing: 1px;

    font-size: 1vw;

    font-family: 'Montserrat', serif;

    font-weight: bold;

    text-transform: uppercase;

}



.nav-links a:hover{

    border: none;

    border-bottom: 2px solid var(--clr-groen);

    outline: none;

}



.logout_button {

    height: 3vh;

    border-radius: 2vw;

    border: none;

    color: var(--clr-wit);

    background-color: var(--clr-groen);

    letter-spacing: 2px;

    font-family: 'Montserrat', serif;

    font-weight: 900;

    text-transform: uppercase;

    outline: none;

}



.logout_button:hover{

    background-color: #1b701b;

    cursor: pointer;

}



.nav-title {

    display: block;

}



.menu {

    background-color: var(--clr-groen);

}



.logo {

    color:var(--clr-groen);

    text-decoration: none;

}



.logo img{

    display: inline-block;

    width: 2.5vw;

    -webkit-transition: -webkit-transform 2s;

}



.logo img:hover{

    -webkit-transform: rotate(360deg);

}



.logo h2{

    text-align: center;

    vertical-align: 30%;

    padding-left: 5px;

    display: inline-block;

    font-size: 2.0vw;

}



.scroll {

    position: absolute;

    font-size: 1.3em;

    margin-top: 2%;

    display: inline-block;

    text-decoration: none;

    content: '';

    width: 40px;

    height: 40px;

    margin-left: auto;

    margin-right: auto;

    top: 10px;

    right: 0;

    left: 0;

    -webkit-animation: 3s arrow infinite ease;

    animation: 3s arrow infinite ease;

    border-right: 2px solid var(--clr-groen);

    border-bottom: 2px solid var(--clr-groen);

    -ms-transform: rotate(45deg);

    -webkit-transform: rotate(45deg);

    transform: rotate(45deg);

}



@-webkit-keyframes arrow {

    0%,100% {

        top:10px;

    }

    50% {

        top:30px;

    }

}

@keyframes arrow {

    0%,100% {

        top:10px;

    }

    50% {

        top:30px;

    }

}



.searchbar-div {

    width: 100%;

    height: 75px;

}

.searchbar-margin {

    margin: 0 10%;

    height: 100%;

}



.searchbar-main {

    position: relative;

    text-align: center;

    border-radius: 2px;

    height: 100%;

}



.searchbar-main-content {

    height: 100%;

    z-index: 5;

    background-color: #fff;

    border-radius: 2px;

    box-shadow: 0 2px 7px 0 hsla(0,0%,82.4%,.25);

}



.searchbar-input {

    font-size: 1vw;

    height: 100%;

    padding-left: 30px;

    margin: 0;

    border: 2px solid var(--clr-groen);

    border-radius: 5px;

    width: 90%;

    outline: none;

}



.searchbar-button {

    border: 2px solid var(--clr-groen);

    border-radius: 5px;

    height: 100%;

    width: 5%;

    margin: 0;

    float: right;

    outline: none;

}



.searchbar-button:hover{

    background-color: rgb(230, 230, 230);

}



.fa-search {

    color: var(--clr-groen);

    font-size: 20px;

}



::-webkit-search-cancel-button{

    position:relative;

    right:20px;    

}

/* Search filters */
.filterlabel {
    font-weight: bold;
}

.verzenden {
    background-color: #4b9600;
    margin-top: 1em;
    color: #fff;
    border: none;
    padding: 16px 32px;
}



::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */

    color: #96a39c;

    opacity: 1; /* Firefox */



}



:-ms-input-placeholder { /* Internet Explorer 10-11 */

    color: #96a39c;

}



::-ms-input-placeholder { /* Microsoft Edge */

    color: #96a39c;

}



.burger {

    display: none;

    cursor: pointer;

}



.burger div {

    width: 25px;

    height: 3px;

    background-color: var(--clr-groen);

    margin: 5px;

    transition: all 0.3s ease;

}



@media screen and (max-width:1300px){

    .nav-links{

        width: 60%;

    }

}



/* When the screen is less than 1100px wide, stack the links and the search field vertically instead of horizontally */

@media screen and (max-width:1100px){

    body{

        overflow-x: hidden;

    }

    .logo h2 {

        display: none;

    }



    .logo img{

        width: 5vw;

    }



    /* burger menu background */

    .nav-links{

        position: absolute;

        right: 0px;

        height: 60vh;

        top: 6vh;

        background-color: var(--clr-groen); opacity: 0.90;

        display: none;

        flex-direction: column;

        text-align: center;

        z-index: 9999;

        width: 50%;



        transform: translateX(100%);

        transition: transform 0.5s ease-in;

    }

    .nav-links li{

        opacity: 0;

    }



    .nav-links a{

        color: var(--clr-wit);

        font-size: 1.5vw;

    }



    .nav-links a:hover{

        border-bottom: 0.2vw solid var(--clr-wit);

    }



    .burger{

        display: block;

    }



    .welcome-div h1, .welcome-div h2{

        font-size: 3.5vw;

    }

    

    .welcome-div p{

        font-size: 2vw;

    }



    .welcome-div button{

        font-size: 2vw;

        border: 2vw solid  #4b9600;

        border-radius: 2vw;

        margin-bottom: 10px;

    }



    .Explore-btn:hover{

        background-color: #1b701b;

        border-color: #1b701b;

    }
    
    .gallery h1{
        font-size: var(--fs-h2);
    }



    /* Advertisement plant name */

    .description h2{

        font-size: 4vw;

    }



    .plant-small .description h2, .plant-small .description h3, .plant-small .description h3 span{

        font-size: 16px;

    }



    /* Advertisement description headers and description details */

    .description h3, .description h3 span{

        font-size: 3vw;

    }



    .searchbar-input {

        width: 80%;

        font-size: 16px;

    }

}



/* Nativagion bar toggle */

.nav-active{

    transform: translateX(0%);

    display: flex;

}



@keyframes navLinkFade{

    from{

        opacity: 0;

        transform: translateX(50px);

    }

    to{

        opacity: 1;

        transform: translateX(0px);

    }

}



/* Burger menu toggle */

.toggle .line1{

    transform: translateY(8px) rotate(-45deg);

}



.toggle .line2{

    opacity: 0;

}



.toggle .line3{

    transform: translateY(-8px) rotate(45deg);

}



/* Advertenties home pagina */

.container {

    background-color: var(--clr-wit);

    position: relative;

    min-height: 100%;

    overflow: hidden;

}



.welcome-div{

    border-spacing: 25px;

    margin-left: auto;

    margin-right: auto;

    background-image: url("/fleurtop/images/welcome.jpg");

    background-position: center;

    text-align: center;

    background-size: cover;

    height: 400px;

    width: 100%;

}



.welcome-div td{

    word-wrap: break-word;

    max-width: 600px;

    text-align: center;

}



.welcome-div h1, .welcome-div h2, .welcome-div p{

    margin: 0 auto;

    margin-bottom: 15px;

    text-align: center;

    padding-left: 50px;

    padding-right: 50px;

    max-width: 800px;

    color: var(--clr-groen);

}

@media screen and (min-width:1100px){

    .welcome-div h1, .welcome-div h2{

        font-size: 1.5vw;

    }



    .welcome-div {

        height: 600px;

    }

    .welcome-div p{

        font-size: 1vw;

    }



    .welcome-bg img{

        margin-left: auto;

        margin-right: auto;

        width: 100%;

    }



    .welcome-div button{

        font-size: 1vw;

        border: 1vw solid #4b9600;

        border-radius: 1vw;

    }



    .Explore-btn:hover{

        background-color: #1b701b;

        border: 1vw solid  #1b701b;

    }

    .gallery h1{
        font-size: 3vw;
    }



    /* Advertisement plant name */

    .description h2{

        font-size: 2vw;

    }



    /* Advertisement description headers and description details */

    .description h3, .description h3 span{

        font-size: 1vw;

    }

}



.welcome-div button{

    outline: none;

    background-color: #4b9600;

    color: var(--clr-wit);

    letter-spacing: 2px;

    font-family: 'Lora', serif;

    font-weight: 300;

    text-transform: uppercase;

    cursor: pointer;

}



/* Recent advertisements */



/* All advertisements */

.img-area{

    display: flex;

    flex-wrap: wrap;

    flex-direction: row;

    justify-content: center;

    margin-top: 2%;

}



/* One advertisement */

.linkPlant {

    text-decoration: none;

    color: var(--clr-dark-green);

}



.plant {

    margin: 3em;
    float: right;

    position: relative;

    border-bottom: 0.25vw solid var(--clr-groen);

    width: 45vh;

    min-width: 20vh;

    overflow: hidden;

    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);

    background-color: white;

}



.plant-small{

    margin: 10px;

    position: relative;

    border-bottom: 0.25vw solid var(--clr-groen);

    width: 30%;

    overflow: hidden;

    box-shadow: 2px 2px 6px 0px rgba(0,0,0,0.3);

    background-color: white;

}



.plant:hover, .plant-small:hover{

    transition: transform .2s ease-in;

    transform: translateY(-20px);

    cursor: pointer;

}



.plant-small:hover{

    transform: translateY(-5px);

}



/* Advertisement image container */

.adImage{

    overflow: hidden;

}



/* Advertisement image */

.adImage img{

    object-fit: cover;

    height: 40vh;

    width: 100%;

    object-position: center;

    transform: scale(1);

    transition: 0.3s ease-in-out;

}



/* Advertisement image hover effect */

.adImage img:hover{

    transform: scale(1.2);

}



/* Recent advertisements header */

.gallery {

    position: relative;

}



.gallery h1{

    text-align: center;

    margin-top: 5%;

    margin-bottom: 2%;

}



/* Advertisement plant name */

.description h2{

    margin-top: 10px;

    word-wrap: break-word;

    text-align: center;

}



/* Advertisement description headers and description details */

.description h3{

    display: inline-block;

    margin-top: 10px;

}



.description h3 span{

    font-weight: normal;

    margin-top: 10px;

}



/* Advertisement button */

.newadknop {

    text-align: center;

    height: 50px;

    margin-bottom: 1%;

}



.newadbutton {

    border: 3px solid #1B701B;

    background-color: #1B701B;

    border-radius: 10px;

    width: 25%;

    padding: 8px;

    height: 100%;

    outline: none;

    font-size: var(--fs-body);

    color: white;

    font-family: 'Montserrat', serif;

    font-weight: bold;

    text-decoration: none;

}



.newadbutton:hover{

    border-color: #208820;

    background-color: #208820;

    cursor: pointer;

}



/* Advertisement discription container*/

.description{

    padding-bottom: 3%;

    background-color: var(--clr-wit);

    text-align: center;

    padding: 3%;

}





@media screen and (max-width: 768px){    

    .welcome-div {

        height: 300px;

    }



    .scroll {

        display: none;

    }



    /* space between advertisement posts */

    .plant {

        margin: 1em;

    }

    .nav-links a{

        color: var(--clr-wit);

        font-size: 2.5vw;

    }



    .searchbar-button {

        width: 15%;

    }



    .newadbutton {

        width: 40%;

    }



    .newadlink {

        font-size: 3vw;

    }



    .searchbar-div {

        height: 50px;

    }

}



.footer img{

    width: 100%;

    height: 100%;

}



/* Feedback button*/

.feedback .button {

    background-color: #4b9600;

    color: white;

    font-size: 1rem;

    padding: 1vw 2vw;

    border: none;

    cursor: pointer;

    outline: none;



    /*Rotate feedback button and align it to the right side*/

    transform: rotate(-90deg) translate(0, -100%);

    top: 75%;

    right: -1px;

    transform-origin: top right;

    position: fixed;

  }

  

.feedback .button:hover {

    background-color: #1b701b;

}



/* Feedback form - hidden by default*/

.feedback-popup, .feedback-popup-success, .userRatingForm{

    position: fixed;

    top: 10%;

    left: 25%;

    right: 25%;

    border: 3px solid #4b9600;

    border-radius: 1vw;

    background-color: white;

}



/* Blur background when feedback form is active */

.blurBackground, .blurBackground-success{

    width: 100%;

    height: 100%;

    position: fixed;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    background-color: white;

    opacity: 80%;

}



.blurBackground, .feedback-popup{

    display: none;

}



.blurBackground-success, .feedback-popup-success, .form{

    display: block;

}



/* add styles to the pop-up form */

.popup-form {

    width: 90%;

    margin-left: auto;

    margin-right: auto;

    background-color: white;

}



/* feedback form header */

.feedback-popup h1, .feedback-popup-success h1, .userRatingForm h1{

    font-size: 2rem;

    margin: 2%;

    text-align: center;

}



.userRatingForm h1{

    word-break: break-word;

}



.userRatingForm h1 span, #ratingSuccess{

    display: none;

}



.plant-star-widget, .communication-star-widget{

    direction: rtl;

}



/* rating stars */

.plant-star-widget label, .communication-star-widget label{

    margin: 1%;

    font-size: var(--fs-h2);

    transition: all 0.2s ease;

}



.plant-star-container .plant-star-widget input, .communication-star-container .communication-star-widget input{

    display: none;

}



.plant-star-widget input:not(:checked) ~ label:hover,
.plant-star-widget input:not(:checked) ~ label:hover ~ label,
.communication-star-widget input:not(:checked) ~ label:hover,
.communication-star-widget input:not(:checked) ~ label:hover ~ label{

    color: orange;

}



.plant-star-widget input:checked ~ label, .communication-star-widget input:checked ~ label{

    color: orange;

}



input#plant-rate-5:checked ~ label,

input#communication-rate-5:checked ~ label{

    color: rgb(255, 234, 73);

    text-shadow: 0 0 10px rgb(185, 113, 58);

}



.userRatingDescription, .userRatingWarning{

    text-align: center;

    margin-bottom: 5%;

    padding-left: 10%;

    padding-right: 10%;

}



.userRatingWarning{

    color: red;

    margin-bottom: 5px;

    display: none;

}



.userRatingForm .feedback-submit{

    margin-top: 5%;

}



.ratingFormBody{

    width: 100%;

}



.ratingFormBody-left{

    text-align: center;

}



.ratingFormBody-right{

    text-align: center;

}



@media screen and (max-width: 590px){

    .userRatingForm h1 span{

        display: inline-block;

    }

}



@media screen and (max-width: 1000px){

    .feedback-popup, .feedback-popup-success, .userRatingForm{

        left: 5%;

        right: 5%;

    }

}



@media screen and (max-width: 1500px){

    .ratingFormBody-left{

        display: block;

    }



    .ratingFormBody-right{

        display: block;

    }

}



/* full width input fields */

.popup-form input[type=text], .popup-form input[type=email], .popup-form textarea{

    width: 100%;

    padding: 15px;

    margin: 5px 0 22px 0;

    border: none;

    outline: none;

    background: #f1f1f1;

    font-family: 'Montserrat', serif;

}



.popup-form textarea{

    height: 120px;

    resize: none;

}



/* full width input fields */

.popup-form input[type=text]:focus, .popup-form input[type=email]:focus, .popup-form textarea:focus{

    background-color: #ddd;

}



/* feedback submit/close button */

.popup-form .feedback-submit, .closefeedback-submit, .closeRatingErrorMessage{

    background-color: #4b9600;

    color: white;

    padding: 16px 20px;

    border: none;

    cursor: pointer;

    width: 100%;

    margin-bottom: 10px;

    opacity: 0.8;

    outline: none;

    font-family: 'Montserrat', serif;

}



.closeRatingErrorMessage{

    width: 90%;

    margin-left: 5%;

    margin-bottom: 2vw;

}



.popup-form .closefeedback-submit{

    background-color: rgb(150, 150, 150);

    margin-bottom: 2vw;

}



.popup-form .feedback-submit:hover, .closeRatingErrorMessage:hover{

    background-color: #1b701b;

}



.popup-form .closefeedback-submit:hover{

    background-color: gray;

}



/* Profile page */

.registerbox .ppbutton {

    margin-bottom: 1.5em;

}



/* Advertisement info */

.advWrapper {

    display: grid;

    grid-template-areas: 

    'img description'

    'info description'

    'info moreAds';

    grid-template-columns: 30%;

    grid-template-rows: auto;

    grid-gap: 10px;

    padding: 10px;

    width: 100%;

    margin: auto;

    background-color: rgb(240, 240, 240);

    color: var(--clr-dark-green);

}



.slidertns {

    grid-area: img;

}



#tns1 > .tns-item {

    height: 40vh;

    object-fit: cover;

}



.tns-nav button{

    width: 28%;

    height: 9px;

    padding: 0;

    margin-right: 10px;

    background: #9c9a95;

    border: 0;

    outline: none;

}



button.tns-nav-active {

    background: var(--clr-dark-green);

    outline: none;

}



.plantMsg {

    border: 1vw solid var(--clr-dark-green);

    margin-bottom: 10px;

    width: 100%;

    border-radius: 1vw;

    outline: none;

    background-color: var(--clr-dark-green);

    color: var(--clr-wit);

    letter-spacing: 2px;

    font-family: 'Lora', serif;

    text-transform: uppercase;

    cursor: pointer;

}

.plantMsg:hover {

    background-color: #175717;

    border-color: #175717;

}



.plantInfo {

    grid-area: info;

    border: 0.2vw solid var(--clr-dark-green);

}



.plantInfoMargin {

    margin: 1vw;

}



.plantInner {

    margin-top: 20px;

}



/* adinfo username */

.plantInner a{

    text-decoration: none;

    color: var(--clr-dark-green);

    border: 1px solid transparent;

    padding: 2%;

    border-radius: 1vw;

}



.plantInner a:hover{

    border-color: var(--clr-dark-green);

    background-color: var(--clr-dark-green);

    color: white;

}



.plantDescription {

    grid-area: description;

}



.moreAds {

    grid-area: moreAds;

}



.plantDesc {

    margin-top: 20px;

}



.moreAdsImg {

    display: flex;

    flex-direction: row;

}



.moreAdsImg img{

    width: 100%;

    height: 25vh;

}



.moreAdsErrorMessage{

    text-align: center;

    margin-left: auto;

    margin-right: auto;

    border: 2px solid var(--clr-dark-green);

    padding: 5%;

    width: 100%;

    margin-bottom: 0%;

}



.fa-tint {

    margin-right: 20px;

    margin-top: 20px;

    color: grey;

    font-size: var(--fs-h2);

}



.fa-sun {

    margin-right: 20px;

    margin-top: 20px;

    font-size: var(--fs-h2);

    color: grey;

}



.drop-checked {

    color: blue;

}



.sun-checked {

    color: #F4DC85;

}



.plantInfoMargin .fa-star {

    margin-right: 10px;

    margin-top: 20px;

    font-size: var(--fs-h2);

}



.star-checked {

    color: orange;

}



@media screen and (max-width: 768px){    



    .advWrapper {

        grid-template-areas: 

        'img'

        'description'

        'info'

        'moreAds';

        grid-template-columns: repeat(1,1fr);

    }



    .fa-sun {

        margin-right: 10px;

    }

}





@media screen and (min-width:1024px){

    .advWrapper {

        max-width: 80%;

    }

}

/* filter layout */
.filterdatefrom, .filterdateto, .filterdistance, .plantsoort, .filtertitel{
    margin-top: 2%;
    margin-bottom: 2%;
}

.filterdatefrom input, .filterdateto input{
    outline: none;
}

.filterdistance td{
    margin: 0;
}


@media screen and (min-width:1500px){
    .filters {
        float: left;
        padding-left: 10px;
    }

    .filterdatefrom, .filterdateto, .filterdistance, .plantsoort, .filtertitel{
        margin-bottom: 5%;
    }

    .filtertitel{
        margin-top: 40%;
    }

}


@media screen and (max-width:1500px){
    .search-filters{
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }

    .filtertitel{
        text-align: center;
    }

    .filterdatefrom, .filterdateto, .filterdistance, .plantsoort{
        float: left;
        margin-left: 5%;
    }

    .filters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }
    .grid-3-col {
        width: 100%;
    }
}

@media screen and (max-width:900px){
    .search-filters{
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .filtertitel{
        text-align: center;
        font-size: 30px;
    }

    .filters {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1em;
    }
}