*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Paar standaard waardes die je later makkelijk weer opnieuw kunt gebruiken */
:root {
    --clr-groen: #4A7C00;
    --clr-wit: #FFFFFF;
    --clr-black: #000000;

    --fw-reg: 300;
    --fw-bold: 900;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background: var(--clr-wit);
    color: var(--clr-groen);
    margin: 0;
    font-family: 'Lora', serif;
    font-weight: 300;
    text-transform: uppercase;
    font-size: var(--fs-body);
    line-height: 1.6;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

/* Koppen */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}


/* Header / Menu */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--clr-groen);
    transition: transform 0.3s ease, opacity 0.1s ease 0.1s;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: var(--clr-wit);
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Montserrat', serif;
    font-weight: 300;
    text-transform: uppercase;
}

.nav-links a:hover{
    border: none;
    border-bottom: 2px solid #FFFFFF;
    outline: none;
}

.nav-links button{
    width: 120px;
    height: 25px;
    border-radius: 5px;
    border: none;
    color: var(--clr-groen);
    background-color: var(--clr-wit);
    letter-spacing: 2px;
    font-size: 14px;
    font-family: 'Montserrat', serif;
    font-weight: 900;
    text-transform: uppercase;
    outline: none;
}

.nav-links button:hover{
    background-color: whitesmoke;
}

.nav-title {
    display: block;
}

.menu {
    background-color: var(--clr-groen);
}

.logo {
    color:var(--clr-wit);
    text-decoration: none;
}

.logo img{
    display: inline-block;
    width: 55px;
    -webkit-transition: -webkit-transform 2s;
}

.logo img:hover{
    -webkit-transform: rotate(360deg);
}

.logo h2{
    text-align: center;
    vertical-align: 30%;
    padding-left: 5px;
    display: inline-block;
}

.searchbar-div {
    width: 100%;
    height: 75px;
}
.searchbar-margin {
    margin: 0 10%;
    height: 100%;
}

.searchbar-main {
    position: relative;
    align-content: center;
    border-radius: 2px;
    height: 100%;
}

.searchbar-main-content {
    height: 100%;
    z-index: 5;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 7px 0 hsla(0,0%,82.4%,.25);
    border: 1px solid #f1f4f3;
}

.searchbar-input {
    font-size: 18px;
    color: #707c75;
    height: 100%;
    padding-left: 30px;
    margin: 0;
    border: 2px solid var(--clr-groen);
    border-radius: 5px;
    width: 100%;
    outline: none;
}

::-webkit-search-cancel-button{
    position:relative;
    right:20px;    
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #96a39c;
    opacity: 1; /* Firefox */

}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #96a39c;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #96a39c;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--clr-wit);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1300px){
    .nav-links{
        width: 60%;
    }
}

/* When the screen is less than 1100px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width:1100px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 60vh;
        top: 6vh;
        background-color: var(--clr-groen); opacity: 0.95;
        display: none;
        flex-direction: column;
        align-items: center;
        z-index: 9999;
        width: 50%;

        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

/* Nativagion bar toggle */
.nav-active{
    transform: translateX(0%);
    display: flex;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

/* Burger menu toggle */
.toggle .line1{
    transform: translateY(8px) rotate(-45deg);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: translateY(-8px) rotate(45deg);
}

/* Advertenties home pagina */

.container {
    background-color: var(--clr-wit);
    position: relative;
    min-height: 100%;
    overflow: hidden;
}

.welcome-div{
    margin: 100px;
    padding-left: 100px;
    padding-right: 100px;
}

.welcome-div h1{
    text-align: center;
    color: var(--clr-groen);
    padding-bottom: 20px;
}

.welcome-div a{
    text-align: center;
}

.welcome-div img{
    width: 75px;
    /* padding-top: 50px; */
    position: relative;
    margin: 6% auto;
    -webkit-transition: -webkit-transform 2s;
}

.welcome-div img:hover{
    -webkit-transform: rotate(360deg);
}

.img-area{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.plant {
    margin: 4em;
    display: inline-block;
    position: relative;
    border: 2px solid var(--clr-groen);
    max-width: 500px;
    border-radius: 12px;
}

.plant img{
    padding-bottom: 10px;
    border-radius: 10px;
}

.description h2{
    /* Vergroot de size van advertentie wanneer naam te lang wordt */
    word-wrap: break-word;

    text-align: center;
}

.description h3{
    padding-left: 10%;  
    display: inline-block;
}

.description p{
    padding-left: 5%;
    display: inline-block;
}


.fa-search {
    color: var(--clr-wit);
}

/* Footer */

.footer {
    height: 100px;
    background-color: var(--clr-groen);
    color: var(--clr-wit);
}

@media screen and (max-width: 768px){
    .nav-title {
        display: none;
    }
    
    .logo h2 {
        display: none;
    }
}