*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --clr-groen: #4A7C00;
    --clr-wit: #FFFFFF;

    --fw-reg: 300;
    --fw-bold: 900;

    --fs-h1: 3rem;
    --fs-h2: 2.25rem;
    --fs-h3: 1.25rem;
    --fs-body: 1rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-wit);
    color: var(--clr-groen);
    margin: 0;
    font-family: var(--ff-sans);
    font-size: var(--fs-body);
    line-height: 1.6;
    overflow-x: hidden;
}

img {
    display: block;
    max-width: 100%;
}

/* Koppen */

h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 {
    font-size: var(--fs-h1);
}
h2 {
    font-size: var(--fs-h2);
}
h3 {
    font-size: var(--fs-h3);
}


/* Header / Menu */

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: var(--clr-groen);
    transition: transform 0.3s ease, opacity 0.1s ease 0.1s;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a{
    color: var(--clr-wit);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}

.menu {
    background-color: var(--clr-groen);
}

.logo {
    color:var(--clr-wit);
    text-decoration: none;
}

.searchbar {
    border-radius: 8px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--clr-wit);
    margin: 5px;
    transition: all 0.3s ease;
}

@media screen and (max-width:1300px){
    .nav-links{
        width: 60%;
    }
}

@media screen and (max-width:1000px){
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 6vh;
        background-color: var(--clr-groen);
        display: none;
        flex-direction: column;
        align-items: center;
        z-index: 9999;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }
}

.nav-active{
    transform: translateX(0%);
    display: flex;
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: translateY(8px) rotate(-45deg);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: translateY(-8px) rotate(45deg);
}

/* Advertenties home pagina */

.container {
    background-color: var(--clr-wit);
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.plant {
    margin: 4em;
    display: inline-block;
    position: relative;
    border: 2px solid var(--clr-groen);
    max-width: 500px;
}

.fa-search {
    color: var(--clr-wit);
}

/* Footer */

.footer {
    height: 100px;
    background-color: var(--clr-groen);
}